<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>TrangChuServlet</display-name>
    <servlet-name>TrangChuServlet</servlet-name>
    <servlet-class>controllers.TrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuServlet</servlet-name>
    <url-pattern>/TrangChuServlet</url-pattern>
  </servlet-mapping>
  <display-name>PhuongPerfume</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cua</display-name>
    <servlet-name>Cua</servlet-name>
    <servlet-class>controllers.Cua</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cua</servlet-name>
    <url-pattern>/Cua</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangServlet</display-name>
    <servlet-name>GioHangServlet</servlet-name>
    <servlet-class>controllers.GioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangServlet</servlet-name>
    <url-pattern>/GioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanServlet</display-name>
    <servlet-name>ThanhToanServlet</servlet-name>
    <servlet-class>controllers.ThanhToanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanServlet</servlet-name>
    <url-pattern>/ThanhToanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemVaoGioHangServlet</display-name>
    <servlet-name>ThemVaoGioHangServlet</servlet-name>
    <servlet-class>controllers.ThemVaoGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemVaoGioHangServlet</servlet-name>
    <url-pattern>/ThemVaoGioHangServlet</url-pattern>
  </servlet-mapping>
</web-app>